<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="/stylesheets/detallePeli.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>The Movie Planet</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light idea" id="navbar">

      <a class="navbar-brand" href="/movies/Home"> <img src="/images/logo.png" class="loguito" alt=""> </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/movies/ListadoDeGeneros">Genres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#login" uk-toggle>My Reviews<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form method="get" action="/movies/ResultadoDelBuscador" class="uk-search uk-search-default buscar">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search for movies" aria-label="Search" >
</form>

<form method="get" action="/search/userResults" class="uk-search uk-search-default buscar">
<span class="uk-search-icon-flip" uk-search-icon></span>
<input class="form-control mr-sm-2" name="q" type="search" placeholder="Search for users" aria-label="Search" >
</form>

<div class="uk-inline">
<button class="uk-button uk-button-primary" style="background-color:rgb(12, 0, 82)">Enter</button>
<div uk-dropdown>
<ul class="uk-nav uk-dropdown-nav">
<li class="uk-active"><a href="#">Welcome back!</a></li>
<li><a href="#login" uk-toggle>Log in</a></li>
<li class="uk-nav-divider"></li>
<li class="uk-active"><a href="#">Are you new around here?</a></li>
<li><a id="registro" href="#modal-sections"uk-toggle>Sign up!</a></li>
</ul>
</div>
</div>

<div id="modal-sections" uk-modal>
<div class="uk-modal-dialog">
<button class="uk-modal-close-default" type="button" uk-close></button>
<div class="uk-modal-header">
<h2 class="uk-modal-title">Sign up</h2>
</div>
<div class="uk-modal-body">
<form class="logincompleto" action="/user" method="post">
<label for="nombre">Name</label>
<input class="name" type="text" name="name" value="" required>
<br>
<label for="email">Email</label>
<input type="text" name="email" value="" required>
<br>
<label for="pass">Password</label>
<input type="password" name="password">
<br>
<label for="bdate">Birthdate</label>
<input type="date" name="bdate">

<div class="uk-modal-footer uk-text-right">
<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
<button class="uk-button uk-button-primary" type="submit">Send</button>
</div>
</form>
</div>

</div>
</div>

<div id="login" uk-modal>
<div class="uk-modal-dialog">
<button class="uk-modal-close-default" type="button" uk-close></button>
<div class="uk-modal-header">
<h2 class="uk-modal-title">Log in</h2>
</div>
<div class="uk-modal-body">
<form class="loginnuevo" action="/login" method="post">
<label for="email">Email</label>
<input type="text" name="email" value="" required>
<br>
<label for="pass">Password</label>
<input type="password" name="password">

<div class="uk-modal-footer uk-text-right">
<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
<button class="uk-button uk-button-primary" type="submit">Send</button>
</div>
</form>
</div>

</div>
</div>
    
  </nav>
    </header>

    <section>
      <aside class="posterPelicula">
        </aside>
      <h2 class="titulos"></h2>
      <div class="genero">
        <p>This movie belongs to the following genres:</p>
      </div>

        <div class= detalles>

        </div>
      <div class="lenguajes">
        <h2>Available languages</h2>
        <ul>

        </ul>

      </div>
      <div class="sinopsis">
        <h2>Overview</h2>
        <p>
        </p>
      </div>

      <div class="fechaEstreno">
        <h2>Release date: <span></span></h2>

      </div>


      </div>

      <div class="trailer">
        <button class="uk-button uk-button-default uk-margin uk-button-secondary" type="button" uk-toggle="target: +">Watch trailer</button>
        <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen controls playsinline hidden uk-video></iframe>

      </div>

      <div class="BotonVerRecomendaciones">
      <!-- boton sacado de uikit -->
        <button id="VerRecomendaciones" class="uk-button uk-button-default uk-button-secondary" style="margin-top:35px" type="button" uk-toggle="target: +"> Recommended for you</button>
        <br>
        <br>
        <div class="Recomendadas">
          <!--   UIKIT para que slider -->
          <div class="uk-position-relative uk-visible-toggle uk-light slider VerRecomendaciones" tabindex="-1" uk-slider>
           <ul id="peliculasRecomendadas" class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-4@m peliculasRecomendadas">
           </ul>
           <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-previous uk-slider-item="previous"></a>
           <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#"
            uk-slidenav-next uk-slider-item="next"></a>
       </div>
</div>
</div>

        <div class="reviews uk-card-small uk-card-body">
          <h2>Watched the movie? Write a review:</h2>
        <form class="score" action="/review" method="POST">
          <input type="hidden" name="idDePeli" value="<%=idDePeli%>"> 
            <div class="uk-margin">
              <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: mail"></span>
                  <input class="uk-input" type="text" name="email" placeholder="E-mail" value="" required>
              </div>
            </div>
            <div class="uk-margin">
              <div class="uk-inline">
                  <span class="uk-form-icon" uk-icon="icon: lock"></span>
                  <input class="uk-input" type="password" name="password" placeholder="Password" value="" required>
              </div>
            </div>
            <div class="uk-width-1-2@s uk-align-center">
              <textarea class="uk-textarea" name="text" placeholder="Write your review here..." required></textarea>
            </div>
            <div class="uk-margin contscore">
              <label class="uk-form-label" for="form-horizontal-text">Score /10:</label>
              <br>
              <input class="uk-range uk-width-1-2@s" name="score" type="range" value="2" min="0" max="10" step="1">
          </div>
            <br>
            <button class="uk-button uk-button-primary" type="submit">Send</button> <br>
          
        </form>
        </div>
      <br>
 
      <div class="sinopsis">
        <h2>Reviews:</h2>
      </div>
      
      <div class="sinopsis uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="/images/avatar.png">
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
                    <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
                </div>
      
            </div>
        </div>
        <div class="uk-card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        </div>
      </div>

    </section>
<br>
<br>
    <footer>
      <img src="/images/tmdblogo.png" class="tmdblogo">

      <div class="nombres">
      <ul>
        <li>SOL RODRIGUEZ ARANCIBIA</li>
        <br>
        <li>EMA JUAREZ</li>
      </ul>
    </div>
         </div>

   </footer>


  </body>
<script type="text/javascript" src="/javascripts/detallePeli.js"></script>
<script type="text/javascript" src="/javascripts/PelisPreferidas.js"></script>
</html>
