<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="/stylesheets/editReview.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>The Movie Planet</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

      <a class="navbar-brand" href="/movies/Home"> <img src="/images/logo.png" class="loguito" alt=""> </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/movies/ListadoDeGeneros">Genres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" uk-toggle>Reviews<span class="sr-only">(current)</span></a>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="/movies/topRated">Top Rated</a></li>
                <li><a href="/movies/bottomRated">Bottom Rated</a></li>
                <li><a href="/movies/recentReviews">Recent</a></li>
            </ul>
        </div>
        </li>
      </ul>

      <div class="uk-margin">
        <form method="get" action="/movies/ResultadoDelBuscador" class="uk-search uk-search-default uk-navbar-item" style="width: 193px; padding-left: 0px;">
          <a href="/movies/ResultadoDelBuscador" class="uk-search-icon-flip" style="width: 72px;" uk-search-icon></a>
                        <input class="uk-search-input" name="q" type="search" placeholder="Search for movies" aria-label="Search" >
        </form>
      </div>
      
      <div class="uk-margin">
        <form method="get" action="/search/userResults" class="uk-search uk-search-default uk-navbar-item" style="width: 190px; padding-left: 0%;">
          <a href="/search/userResults" class="uk-search-icon-flip" style="width: 72px;" uk-search-icon></a>
          <input class="uk-search-input" name="q" type="search" placeholder="Search for users" aria-label="Search">
        </form>
      </div>
      
  </nav>
    </header>
    
    <section>

        <div class="reviews uk-card-small uk-card-body tarjetaReview">

                <form method="POST" class="score" action="/user/reviews/edit/<%= result.id %>">
                <h1 class="nombreUser">Edit review</h1>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-2-3">
                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                        <input class="uk-input" type="text" name="email" id="email" placeholder="E-mail">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-2-3">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input class="uk-input" type="password" name="password" id="pass" placeholder="Password">
                    </div>
                </div>

                <div class="uk-margin">
                    <div class="uk-inline uk-width-2-3">
                        <label for="review">Review:</label>
                       <textarea class="uk-textarea" name="review" id="review" cols="50" rows="10"><%= result.review_text %> </textarea>
                    </div>
                </div>

                <div class="uk-margin">
                    <label for="review">Rating:</label> <br>
                    <input type="range" id="score" name="score" class="uk-range radio" min="0" max="10" onchange="updateValue(this.value)">
                    
                </div>

                <button class="uk-button uk-button-primary" type="submit" name="button">Upload</button>
                </form>
            
        </div>

    
  
           
    </section>
<br>
<br>
    <footer>
      <img src="/images/tmdblogo.png" class="tmdblogo">

      <div class="nombres">
      <ul>
        <li>SOL RODRIGUEZ ARANCIBIA</li>
        <br>
        <li>EMA JUAREZ</li>
      </ul>
    </div>
         </div>

   </footer>


  </body>
<script type="text/javascript" src="/javascripts/detallePeli.js"></script>
<script type="text/javascript" src="/javascripts/PelisPreferidas.js"></script>
</html>
