<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/stylesheets/ResultadoDelBuscador.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <title>The Movie Planet</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">

      <a class="navbar-brand" href="/movies/Home"> <img src="/images/logo.png" class="loguito" alt=""> </a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/movies/ListadoDeGeneros">Genres<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login" uk-toggle>My Reviews<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="" uk-toggle>Reviews<span class="sr-only">(current)</span></a>
          <div uk-dropdown>
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="/movies/topRated">Top Rated</a></li>
                <li><a href="/movies/bottomRated">Bottom Rated</a></li>
                <li><a href="/movies/recentReviews">Recent</a></li>
            </ul>
        </div>
        </li>
      </ul>

      <!-- q es el nombre del input que toma el controller-->
      <form method="get" action="/movies/ResultadoDelBuscador" class="uk-search uk-search-default buscar">
                      <span class="uk-search-icon-flip" uk-search-icon></span>
                      <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search for movies" aria-label="Search" >
      </form>
    
      <form method="get" action="/search/userResults" class="uk-search uk-search-default buscar">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Search for users" aria-label="Search" >
      </form>
      
  </nav>
    </header>

    <section>
      <!-- Busca los usuarios, si no hay ninguno con ese nombre retorna un mensaje que lo comunica,
      si existe retorna todos los usuarios que tengan ese mail o ese nombre de usuario en una tarjeta
      de css de uikit. Se usa codigo de js para traer los datos que capturo el then del metodo search-->
      <% if (searchUsers.length == 0) { %>
        <p class="titulos">No users under that username were found . . .</p>
    <% } else {%>
      <p class="titulos"> Users found:</p> <br>
      <% for (let i=0; i< searchUsers.length; i++) { %>
      <div class="uk-card uk-card-default uk-width-1-2@m carta">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <img class="uk-border-circle" width="40" height="40" src="/images/avatar.png">
                </div>
                <ul class="uk-width-expand listita">
                  <!-- El a nos lleva al detalle de usuario cuando se cliquea -->
                  <li><a class= 'nombreslista' href="/search/userResults/<%=searchUsers[i].id %>"> 
                    <h3 class="uk-card-title uk-margin-remove-bottom"><%=searchUsers[i].name %></h3>
                    <p class="uk-text-meta uk-margin-remove-top"> <%=searchUsers[i].email %></p>
                    </a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <% } } %> 
    </section>

  

   <br><br><br><br><br><br><br><br><br><br>

    <footer>
      <img src="/images/tmdblogo.png" class="tmdblogo">

      <div class="nombres">
      <ul>
        <li>SOL RODRIGUEZ ARANCIBIA</li>
        <br>
        <li>EMA JUAREZ</li>
      </ul>
    </div>
         </div>

   </footer>


  </body>
<script type="text/javascript" src="/javascripts/ResultadoDelBuscador.js"></script>
<script type="text/javascript" src="/javascripts/PelisPreferidas.js"></script>
</html>
