@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html{
  cursor: url(/images/giphy.gif),default;
  height: 100%;
}
body{
  cursor: url(/images/giphy.gif),default;
  background-size: cover;
  background-image: url("/images/Fondo.png");
}


.saludo {
  font-family: Poppins;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 45px;
}
.headers{
  font-family: Poppins;
  color: white;
  font-weight: bold;
  text-align: left;
  font-size: 35px;
  padding-left: 10px;
}
#topRated{
  width: 20%;
}

#comingSoon{
  width: 20%;
}
#listaPopulares{
  width: 20%;
}
/* .headersHome{
display: none;
} */
h1.headersHome{
display: none;
}

li:hover h1.headersHome{
  display: block;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 25px;
}

#pelispref{
  display: none;
}
footer{
    background-color: rgba(112, 148, 181, 0.65);
    height: 12vh;
    overflow: hidden;
}

.nombres {
  font-family: Rubik;
  font-size: small;
  color: white;
  text-align: right;
  float: right;
  padding-top: 1%;

}

.nombres ul {
  border-right: 5px solid #ffffff;
    list-style-type: none;
    padding-right: 17px;
}
.tmdblogo{
  width: 7%;
    float: right;
    padding: 1%;
    padding-left: 1%;
    padding-top: 0.7%;
}

.divPagina{
  margin-bottom: 1%;
}

.nav-brand{
  width: 200px;
margin-right: 0px;
height: 90px;
padding-top: 0px;
padding-bottom: 0px;
}
.loguito{
  width: 100%;
}

.homeImg {
  overflow: hidden;
}
.posters{
  position: relative;
  float: left;
  width: 16.1666%;
  margin-right: 0%;

}

.header{
  position: relative;
  float: left;
  margin-right: 0%;
  height: 20%;
}

#navbar{
padding-bottom: 0px;
padding-top: 0px;
}

.navbar-brand{
  width: 111px;
margin-right: 17px;
}
#pelispref{
  display: none;
}
button.estrellita {
    position: absolute;
}







@media only screen and (min-device-width: 481px) and (max-device-width: 992px) and (orientation : portrait){
#listaPopulares{
  width: 50%;
}
#topRated{
  width: 50%;
}
#comingSoon{
  width: 50%;
}
}






@media only screen and (min-device-width: 0px) and (max-device-width: 480px) and (orientation : portrait){
#listaPopulares{
  width: 100%;
}
#topRated{
  width: 100%;
}
#comingSoon{
  width: 100%;
}
}
