@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html{
  cursor: url(/images/giphy.gif),default;
}
body{
  cursor: url(/images/giphy.gif),default;
  background-image: url("/images/Fondo.png");
  background-size: cover;

}
footer{
    background-color: rgba(112, 148, 181, 0.65);
    height: 12vh;
    overflow: hidden;
}

.nombres {
  font-family: Rubik;
  font-size: small;
  color: white;
  text-align: right;
  float: right;
  padding-top: 1%;

}

.nombres ul {
  border-right: 5px solid #ffffff;
    list-style-type: none;
    padding-right: 17px;

}
.tmdblogo{
  width: 7%;
    float: right;
    padding: 1%;
    padding-left: 1%;
    padding-top: 0.7%;
}
#pelispref{
  display: none;
}
.nav-brand{
  width: 200px;
margin-right: 0px;
height: 90px;
padding-top: 0px;
padding-bottom: 0px;
}
.loguito{
  width: 100%;
}
#navbar{
padding-bottom: 0px;
padding-top: 0px;
}

.navbar-brand{
  width: 111px;
margin-right: 17px;
}

.contenedorPpal{
  padding-bottom: 5%;
}

.ul-genero li{
  float: right;
  width:20%;
}
.ul-genero{
  padding-left: 1%;
  padding-right: 1%;
  overflow: hidden;
}

div.uk-slider{
  margin-bottom: 5%;
}

h1.headersGeneros{
display: none;
}

li:hover h1.headersGeneros{
  display: block;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 25px;
}

.uk-position-center.uk-panel h1 {
  font-size: 15px;
  text-align: center;
}



.saludo {
  font-family: Poppins;
  color: white;
  font-weight: bolder;
  text-align: center;
  font-size: 45px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 992px) and (orientation : portrait){
.ul-genero li{
  width: 50%;
}
}







@media only screen and (min-device-width: 0px) and (max-device-width: 480px) and (orientation : portrait){
  .ul-genero li{
    width: 100%;
  }



}
