@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html{
  cursor: url(/images/giphy.gif),default;
}
body{
  cursor: url(/images/giphy.gif),default;
  background-image: url("/images/Fondo.png");
  background-size: cover;
}
footer{
    background-color: rgba(112, 148, 181, 0.65);
    height: 12vh;
    overflow: hidden;
}

.nombres {
  font-family: Rubik;
  font-size: small;
  color: white;
  text-align: right;
  float: right;
  padding-top: 1%;

}

.nombres ul {
  border-right: 5px solid #ffffff;
    list-style-type: none;
    padding-right: 17px;
}
.tmdblogo{
  width: 7%;
    float: right;
    padding: 1%;
    padding-left: 1%;
    padding-top: 0.7%;
}
.nav-brand{
  width: 200px;
margin-right: 0px;
height: 90px;
padding-top: 0px;
padding-bottom: 0px;
}
.loguito{
  width: 100%;
}
#navbar{
padding-bottom: 0px;
padding-top: 0px;
}

.navbar-brand{
  width: 111px;
margin-right: 17px;
}

h1.headersSearch{
display: none;
}

li:hover h1.headersSearch{
  display: block;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  font-size: 25px;
}

li img{
  width: 80%;
}


div.recuadro{
  background-color: #030226;
    padding-top: 4%;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
    margin-bottom: 3%;
  }
